/* Reset default browser styles */
body,
h1,
h2,
ul,
p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

main {
    padding: 20px;
}

.balance,
.transactions {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.balance h2,
.transactions h2 {
    margin-bottom: 10px;
}

.balance p {
    font-size: 1.5em;
    font-weight: bold;
    color: #2ecc71;
}

.transactions ul {
    list-style: none;
    padding: 0;
}

.transactions li {
    margin-bottom: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}